.bg{
  background-image: url(https://www.wallpapertip.com/wmimgs/81-813546_rotom-pokedex-background.jpg);
  background-size: cover;
}

/* #mitad1{
  height: 50%;
  width: 50%;
} */

#Titulo{
  /*  margin: 2%; */
  font-size: 300%;
  color:firebrick;
 }

 .atributo input {
   height: 6vh;
   font-size: large;
 }