
 <div class="bg">
<h1 class="col text-center" id="portada">Register</h1>
      
<div class="container-md">
  <div class="d-flex justify-content-center">
    <div class="col-8">
      <div class="form-group" id="user">
        <label for="name" >Usuario:</label>
        <input type="name" [(ngModel)]="usuario" class="form-control" placeholder="name" id="name" required/>
      </div>
      <div class="form-group" id="pasword">
        <label for="pwd">Password:</label>
        <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password" id="pwd" required/>
      </div>
      <div class="form-group" id="pasword2">
      <label for="pwd">Repita la Password:</label>
        <input type="password" [(ngModel)]="password2" class="form-control" placeholder="Password" id="pwd2" required/>
      </div>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-primary" id="btn-register" (click)="register()">
                Registrarse
              </button>
              <a id="logear" class="link" routerLink="../login">Iniciar sesion</a>
          </div>
        </div>
      </div>
     
    
  
      

    <!-- <center> -->
      
  <!--   </center> -->
    
  
      <div
        class="alert alert-danger alert-dismissible"
        style="display: none"
        id="error"
      >
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
        <strong>ERROR!</strong> Registro incorrecto.
      </div>
    </div>
  </div>
</div>
</div>
